#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.BlogCreation{
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  height: 100%;
  width: 100vh;
  
}

.BlogTitle
{
  min-height: 5%;
  margin: 1rem;
  font-size: 1em;
  font-weight: 200;
  font-family: inherit;
}

.BlogDescription
{
  min-height: 15%;
  margin-left: 1rem;
  margin: 2em;
}

.BlogStory
{
  min-height: 50%;
  margin: 1rem;
  font-size: 2em;
}

textarea{
  resize: none;
 
  font-weight: 200;
  font-family: inherit;
}

#Submit{
    height: fit-content;
    width: fit-content;
    margin-bottom: 16px;
    margin-left: 1rem;
}
.Header{
  display: flex;
  width: 100vh;
  justify-content: space-around;
}

.Heading{
  text-align: left;
  margin-top: 48px;
  margin-left: 1rem;
  font-size: 3em;
  font-weight: 100;
  font-family: inherit;
}

